<li id="{{ID}}" issue data-mantis-id="{{ID}}" data-priority="{{Priority}}" draggable="true">
	<div class="summary">
		{{Summary}}
	</div>
	<div class="meta">
		<strong>I{{Importance}}</strong>
		<strong>{{getValue Severity}}</strong>
		<strong>{{Tags}}</strong>
	</div>
</li>