<li id="cart{{ID}}" issue data-mantis-id="{{ID}}" data-priority="{{Priority}}" draggable="true">
	<div class="summary" contenteditable="true">
		{{Summary}}
	</div>
	<div class="meta">
		<strong>Estimated time: {{getValue this 'Estimated time'}}</strong>
		<strong class="right">{{getValue this 'Severity'}}</strong>
	</div>
</li>