<li id="card{{getValue this 'ID'}}" data-mantis-id="{{getValue this 'ID'}}" data-summary-rgx="{{regexField "customSummaryRgx" "Summary" this}}" data-priority="{{getValue this 'Priority'}}" draggable="true">
	<div class="summary" contenteditable="true">
		{{getValue this 'Summary'}}
	</div>
	<div class="meta">
		<strong>{{#if (getValue this 'Estimated time')}}Est. time: {{getValue this 'Estimated time'}}{{/if}}</strong>
		<strong class="right">{{getValue this 'Severity'}}</strong>
	</div>
</li>